.box {
  width: 150px;
  height: 150px;
  border: 1px solid brown;
}
.GameBoard {
  display:flex;
  width: 500px;
  flex-wrap: wrap;
  padding: 150px;
}

.App {
  display: flex;
  justify-content: center;
}