.Box {
  width: 150px;
  height: 150px;
}
.GameBoard {
  display:flex;
  width: 500px;
  flex-wrap: wrap;
  padding: 150px;
}

.App {
  display: flex;
  justify-content: center;
}

.box-value {
  width: 100%;
  height: 100%;
}